@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img{
        width: 100%;
    }
    
    h2{
        font-family: "Agdasima", serif;
        font-weight: 400;
        font-size: 36px;
    }

}

#capsula{
    cursor: grab;
    overflow: hidden;
    max-width: 65%;
}

#cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding-bottom: 20px;
    flex: none;
    
    article{
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #AED2DF;
        border-radius: 10px;
        border: 2px solid black;  
        align-items: center;
        img{
            width: 90%;
            height: 100%;
            border-radius: 10px;

            padding-top: 15px;
        }
    
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: "Abyssinica SIL", serif;
            gap: 0px;
            h2{
                font-size: 20px;
                padding: 0px;
                margin: 0px;
            }
            p{
                font-size: 24px;
                padding: 0;
                margin: 0px;
            }
        }
        button{
            margin: 10px;
            padding: 5px;
            width: 90%;
            border: none;
            border-radius: 10px;
            background-color: rgb(13, 104, 104);
            color: white;
            font-family: "Abyssinica SIL", serif;
            cursor: pointer;
            &:hover{
                background-color: rgb(82, 224, 182);
                color: black;
                border: rgb(74, 74, 218) solid 0.5px;
                padding: 4px;
            }
        }
    }
}

@media (max-width: 630px) {
    section{
        h2{
            font-size: 28px;
            
        }
    }
    #capsula{
        padding: 10px;
        max-width: 90%;
        overflow-x:scroll ;
    }
    #cards{
        article{
            width: 45%;
            height: auto;        
            img {
                width: 88%;
                height: 100%;
                margin-bottom: 3px;
            }
           
            div{
                padding-left: 10px;
                h3{
                    font-size: 13px;
                    padding: 0;
                    margin: 0;

                }
                p{
                    font-size: 18px;
                    padding: 0;
                    margin: 0;
                }

            }
        }
    }
}